@font-face {
    font-family: londrina;
    src: url(fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf)
}

@font-face {
    font-family: patrick;
    src: url(fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf)
}

@font-face {
    font-family: bar;
    src: url(fonts/Barriecito/Barriecito-Regular.ttf)
}

@font-face {
    font-family: irish;
    src: url(fonts/Irish_Grover/IrishGrover-Regular.ttf)
}



h1 {
    font-family: irish;
    font-size: 45px;
    color: #ffffff;
    text-shadow: 2px 3px rgba(37, 59, 138, 0.5);
}

h2 {
    font-family: londrina;
    font-size: 35px;

}

p,
a {
    font-family: patrick;
    font-size: 23px;
    letter-spacing: 1px;
}

body {
    background-image: url(images/bg_snoopy_sleep.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.highlight {
    text-shadow: 1px 1px rgba(129, 101, 101, 0.5);
    background-color: rgba(255, 255, 0, 0.84);
    padding: 2px 3px;
    border-radius: 3px;
}

#bio {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 100px;
    border-radius: 25px;
}

.box {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    padding-top: 5px;
    border-radius: 25px;
}

.gap {
    margin-top: 40px;
    margin-bottom: 40px;
}

#gif {
    margin: 10px;
    border: dashed black;
    border-width: 2.5px;
    border-radius: 15px;
}