@font-face {
    font-family: londrina;
    src: url(fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf)
}

@font-face {
    font-family: patrick;
    src: url(fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf)
}

@font-face {
    font-family: bar;
    src: url(fonts/Barriecito/Barriecito-Regular.ttf)
}

@font-face {
    font-family: bod;
    src: url()
}



h1 {
    font-family: londrina;
    font-size: 45px;
}

h2 {
    font-family: londrina;
    font-size: 35px;
    
}

p,
a {
    font-family: patrick;
    font-size: 23px;
    letter-spacing: 1px;
}

.highlight {
    text-shadow: 1px 1px rgba(129, 101, 101, 0.5);
    background-color: yellow;
    padding: 2px 3px;
    border-radius: 3px;
}

#bio {
    background: #ffffff;
    padding: 20px;
    padding-bottom: 100px;
}

#gif {
    margin: 10px;
    border: dashed black;
    border-width: 2.5px;
}