@font-face {
    font-family: londrina;
    src: url(fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf)
}

@font-face {
    font-family: patrick;
    src: url(fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf)
}

@font-face {
    font-family: bar;
    src: url(fonts/Barriecito/Barriecito-Regular.ttf)
}

@font-face {
    font-family: bod;
    src: url()
}



h1 {
    font-family: londrina;
    font-size: 40px;
}

h2 {
    font-family: londrina;
    font-size: 30px
}

p,
a {
    font-family: patrick;
    font-size: 23px;
}

#bio {
    background: #ffffff;
    padding: 20px;
    padding-bottom: 100px;
}