@font-face {
    font-family: londrina;
    src: url(fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf)
}

@font-face {
    font-family: patrick;
    src: url(fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf)
}

@font-face {
    font-family: bar;
    src: url(fonts/Barriecito/Barriecito-Regular.ttf)
}

@font-face {
    font-family: irish;
    src: url(fonts/Irish_Grover/IrishGrover-Regular.ttf)
}

* {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-family: irish;
    font-size: 45px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 8px rgba(37, 59, 138, 0.5);
}

h2 {
    font-family: londrina;
    font-size: 35px;

}

p {
    font-family: patrick;
    font-size: 23px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

a {
    font-family: patrick;
    font-size: 23px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px rgba(37, 59, 138, 0.3);
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
}

a:hover {
    background-color: yellow;
    text-shadow: 1px 1px rgba(172, 31, 31, 0.5);
}

body {
    background-image: url(images/plane-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.highlight {
    text-shadow: 1px 1px rgba(129, 101, 101, 0.5);
    background-color: rgba(255, 255, 0, 0.84);
    padding: 2px 3px;
    border-radius: 3px;
}

#ws {
    font-family: patrick;
    font-size: 25px;
}

#bio {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 100px;
    border-radius: 25px;
    border: solid aliceblue;
    box-shadow: 0px 0px 8px rgba(37, 59, 138, 0.5);
    backdrop-filter: blur(4px);
    margin: 30px;
}

#bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#snoopy {
    margin-left: 30px;
}

.box {
    display: inline-block;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    padding-top: 5px;
    border-radius: 25px;
    border: solid aliceblue;
    box-shadow: 0px 0px 5px rgba(37, 89, 138, 0.5);
    backdrop-filter: blur(4px);
    margin: 30px;
    object-fit: cover;
}

.socials-box {
    display: inline-block;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 25px;
    border: solid aliceblue;
    box-shadow: 0px 0px 5px rgba(37, 89, 138, 0.5);
    backdrop-filter: blur(4px);
    margin: 30px;
    object-fit: cover;
    height: fit-content;
}

#gif {
    margin: 10px;
    border: dashed black;
    border-width: 2.5px;
    border-radius: 15px;
}